{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item active" href="{% url 'seller_dashboard' %}"> Gráfica de ventas </a>
                <a class="list-group-item" href="{% url 'seller_productos' %}"> Stock de productos en venta </a>
                <a class="list-group-item" href="{% url 'editar_perfil' %}"> Editar perfil </a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Salir</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <h5 class="card-header">Ventas</h5>
                <div>
                    <h3>Ventas Mensuales (Cantidad de Productos Vendidos)</h3>
                    {{ grafico_ventas|safe }}
                </div>
                
                <div>
                    <h3>Beneficios Mensuales</h3>
                    {{ grafico_beneficios|safe }}
                </div>
                
            </header>
            <div class="card">
                
                
                <div class="card-body">
                  <p class="card-text mb-0">  </p>
                </div>
              </div>
              <div class="card">
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock content %}