{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{ producto_unico.imagen.url }}" height="" width="" alt=""></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">

    <form action="{% url 'add_cart' producto_unico.id %}" method="POST">
       {% csrf_token %}
      <article class="content-body">
      
        <h2 class="title">{{ producto_unico.nombre_producto }}</h2>
        <div class="rating-star">
            <span>
                <i class="fa fa-star{% if producto_unico.opiniones_media < 0.5 %} -half-o{% elif producto_unico.opiniones_media >= 0.5 and producto_unico.opiniones_media < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if producto_unico.opiniones_media < 1.5 %} -half-o{% elif producto_unico.opiniones_media >= 1.5 and producto_unico.opiniones_media < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if producto_unico.opiniones_media < 2.5 %} -half-o{% elif producto_unico.opiniones_media >= 2.5 and producto_unico.opiniones_media < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if producto_unico.opiniones_media < 3.5 %} -half-o{% elif producto_unico.opiniones_media >= 3.5 and producto_unico.opiniones_media < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if producto_unico.opiniones_media < 4.5 %} -half-o{% elif producto_unico.opiniones_media >= 4.5 and producto_unico.opiniones_media < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
            <span> {{ producto_unico.opiniones_count }} opinion(es) </span>
            </span>
        </div>
          <div class="mb-3"> 
              <var class="price h4">{{ producto_unico.precio }}€</var> 
          </div> 
          
          <p> {{ producto_unico.descripcion_producto }} </p>
          
          
          <hr>
              <div class="row">
                  <div class="item-option-select">
                      <h6>Elige un color</h6>
                      <select name="color" class="form-control" required>
                        <option value="" disabled selected>Elige un color</option>
                        {% for color in colores %}
                        <option value="{{ color.valor_variacion }}">{{ color.valor_variacion | capfirst }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div> <!-- row.// -->
              <div class="row">
                  <div class="item-option-select">
                      <h6>Marca</h6>
                        <select name="marca" class="form-control">
                        <option value="" disabled selected>Marca</option>

                        {% for marca in marcas %}
                        <option value="{{ marca.valor_variacion | lower }}">{{ marca.valor_variacion | capfirst }}</option>
                        {% endfor %}
      
                        </select>
                      
                  </div>
              </div> <!-- row.// -->
              <hr>
              {% if producto_unico.stock_disponible <= 0 %}
                <h5 class="text-danger">Agotado</h5>
                {% else %}
                  <button type="submit" class="btn  btn-primary"> <span class="text">Añadir al carrito</span> <i class="fas fa-shopping-cart"></i>  </button>
              {% endif %}
          </article> <!-- product-info-aside .// -->
      </form>
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Opiniones de clientes </h3>  
            <div class="rating-star">
                <span>
                    <i class="fa fa-star{% if producto_unico.opiniones_media < 0.5 %} -half-o{% elif producto_unico.opiniones_media >= 0.5 and producto_unico.opiniones_media < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if producto_unico.opiniones_media < 1.5 %} -half-o{% elif producto_unico.opiniones_media >= 1.5 and producto_unico.opiniones_media < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if producto_unico.opiniones_media < 2.5 %} -half-o{% elif producto_unico.opiniones_media >= 2.5 and producto_unico.opiniones_media < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if producto_unico.opiniones_media < 3.5 %} -half-o{% elif producto_unico.opiniones_media >= 3.5 and producto_unico.opiniones_media < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if producto_unico.opiniones_media < 4.5 %} -half-o{% elif producto_unico.opiniones_media >= 4.5 and producto_unico.opiniones_media < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                </span>
            </div>
            
        </header>
        <form action="{% url 'publicar_opinion' producto_unico.id %}" method="POST">
            {% csrf_token %}
            <h5>Tu opinión nos importa</h5>
            <div>
                <label>¿Qué te ha parecido este producto?</label>
                <br>
                <div class="puntuacion">
                    <input type="radio" name="puntuacion" id="puntuacion10" value="5" required /><label for="puntuacion10" title="5"></label>
                    <input type="radio" name="puntuacion" id="puntuacion9" value="4.5" required /><label for="puntuacion9" title="4.5" class="half"></label>
                    <input type="radio" name="puntuacion" id="puntuacion8" value="4" required /><label for="puntuacion8" title="4"></label>
                    <input type="radio" name="puntuacion" id="puntuacion7" value="3.5" required /><label for="puntuacion7" title="3.5" class="half"></label>
                    <input type="radio" name="puntuacion" id="puntuacion6" value="3" required /><label for="puntuacion6" title="3"></label>
                    <input type="radio" name="puntuacion" id="puntuacion5" value="2.5" required /><label for="puntuacion5" title="2.5" class="half"></label>
                    <input type="radio" name="puntuacion" id="puntuacion4" value="2" required /><label for="puntuacion4" title="2"></label>
                    <input type="radio" name="puntuacion" id="puntuacion3" value="1.5" required /><label for="puntuacion3" title="1.5" class="half"></label>
                    <input type="radio" name="puntuacion" id="puntuacion2" value="1" required /><label for="puntuacion2" title="1"></label>
                    <input type="radio" name="puntuacion" id="puntuacion1" value="0.5" required /><label for="puntuacion1" title="0.5" class="half"></label>
                </div>
<br>

                Asunto:
                <input type="text" class="form-control" name="asunto">
                <br>
                Opinión:
                <textarea name="opinion" rows="4"  class="form-control"></textarea>
                <br>
                {% if request.user.is_authenticated %}
                   {% if producto_pedido %}
                <input type="submit" value="Publicar opinion" class="btn btn-primary">
                    {% else %}
                    <p> Debes haber comprado este producto para poder opinar sobre él.</p>
                    {% endif %}
                {% else %}
                <p> Entra si quieres dejar tu opinión. <span><a href="{% url 'login' %}">Entrar</a></span></p>
                {% endif %}
            </div>
    {% include 'includes/alerts.html' %}  
        </form>
    <br>

    {% for opinion in opiniones %}
        <article class="box mb-3">
            <div class="icontext w-100">
                <div class="text">
                    <span class="date text-muted float-md-right">{{ opinion.modificacion }} </span>  
                    <h6 class="mb-1"> {{ opinion.usuario.full_name }} </h6>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if opinion.puntuacion == 0.5 %} -half-o{% elif opinion.puntuacion < 1 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if opinion.puntuacion == 1.5 %} -half-o{% elif opinion.puntuacion < 2 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if opinion.puntuacion == 2.5 %} -half-o{% elif opinion.puntuacion < 3 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if opinion.puntuacion == 3.5 %} -half-o{% elif opinion.puntuacion < 4 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if opinion.puntuacion == 4.5 %} -half-o{% elif opinion.puntuacion < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        <span> {{ producto_unico.opiniones_count }} opinion(es) </span>
                        </span>
                    </div>
                    
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <h6> {{ opinion.asunto }} </h6>
                <p>
                    {{ opinion.opinion }}
                </p>	
            </div>
        </article>
    {% endfor %}
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}